* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .white {
    color: #fff;
  }


  #landing__page {
    background-color: hsl(0, 25%, 2%);
  }

  .lp__bg {
    position: absolute;
    opacity: 0.05;
    width: 99%;
  }

  .logo__img {
    width: 120px;
    height: 90px;
    margin: 0;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }

  .ul__header--ctgrs {
    display: flex;
    transform: translateX(-22%);
}

  .header__car--brands, a{
    color: rgba(255, 255, 255, 0.863);
    font-size: 18px;
    padding: 0 .5rem;
  }

  .header__icons {
    display: flex;
  }

  .header__icons {
    color: #fff;
    padding: 0 .7rem;
  }

.landing__page--txt {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  /* transform: translateX(-23%); */
  padding: 2rem 0;
}

.lp__title {
  font-size: 78px;
  padding: 8rem 0 1rem 0;
}

.lp__under-title-2 {
  padding: 0 0 6rem 0;
}

.lp__btn {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

.button-1 {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 9999px;
  padding: .8rem 3.1rem;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.button-1:active {
  transform: scale(.96);
}

