* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }


  #landing__page {
    background-color: hsl(0, 0%, 13%)
  }

  .logo__wrapper {
    /* padding: 0 0 0 15rem; */
  }

  .logo__img {
    width: 120px;
    height: 90px;
    margin: 0;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
  }

  .ul__header--ctgrs {
    display: flex;
    /* padding: 0 4rem; */
}

  .header__car--brands, a{
    color: rgba(255, 255, 255, 0.863);
    font-size: 18px;
    padding: 0 .5rem;
  }

  .header__icons {
    display: flex;
    /* transform: translateX(170%); */
  }

  .header__icons {
    color: #fff;
    padding: 0 .7rem;
  }

